@model WebApplication1.Rule

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Rule</h4>
        <hr />

        <div class="panel panel-primary"><div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(model => model.ChurchId, "Kościół", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-4">
                    @if (ViewBag.FixedChurch)
                    {
                        @Html.DropDownList("ChurchId", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                    }
                    else
                    {
                        @Html.DropDownList("ChurchId", null, htmlAttributes: new { @class = "form-control" })
                    }
                    @Html.ValidationMessageFor(model => model.ChurchId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DateBegin, "Data początkowa", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-4">
                    @{ Html.EnableClientValidation(false); }
                    @Html.EditorFor(model => model.DateBegin, new { htmlAttributes = new { @class = "form-control datetimepicker", @type = "datetime" } })
                    @{ Html.EnableClientValidation(true); }
                    @Html.ValidationMessageFor(model => model.DateBegin, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DateEnd, "Data końcowa", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-4">
                    @{ Html.EnableClientValidation(false); }
                    @Html.EditorFor(model => model.DateEnd, new { htmlAttributes = new { @class = "form-control datetimepicker", @type = "datetime" } })
                    @{ Html.EnableClientValidation(true); }
                    @Html.ValidationMessageFor(model => model.DateEnd, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Hour, "Godzina", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Hour, new { htmlAttributes = new { @class = "form-control timepicker", @type = "time" } })
                    @Html.ValidationMessageFor(model => model.Hour, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DateShift, "Przesunięcie", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.DateShift, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateShift, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CycleType, "(RODZAJ CYKLU)", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-4">
                    <!--@Html.EditorFor(model => model.CycleType, new { htmlAttributes = new { @class = "form-control" } })-->
                    @Html.DropDownList("CycleType", new SelectList(ViewBag.CycleType), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CycleType, "", new { @class = "text-danger" })
                </div>
            </div>
        </div></div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Dzień tygodnia</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Monday, "Poniedziałek", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-4">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Monday)
                            @Html.ValidationMessageFor(model => model.Monday, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Tuesday, "Wtorek", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-4">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Tuesday)
                            @Html.ValidationMessageFor(model => model.Tuesday, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Wednesday, "Środa", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-4">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Wednesday)
                            @Html.ValidationMessageFor(model => model.Wednesday, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Thursday, "Czwartek", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-4">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Thursday)
                            @Html.ValidationMessageFor(model => model.Thursday, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Friday, "Piątek", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-4">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Friday)
                            @Html.ValidationMessageFor(model => model.Friday, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Saturday, "Sobota", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-4">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Saturday)
                            @Html.ValidationMessageFor(model => model.Saturday, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Sunday, "Niedziela", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-4">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Sunday)
                            @Html.ValidationMessageFor(model => model.Sunday, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Miesiąc</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.I, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.I)
                            @Html.ValidationMessageFor(model => model.I, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.II, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.II)
                            @Html.ValidationMessageFor(model => model.II, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.III, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.III)
                            @Html.ValidationMessageFor(model => model.III, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IV, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IV)
                            @Html.ValidationMessageFor(model => model.IV, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.V, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.V)
                            @Html.ValidationMessageFor(model => model.V, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.VI, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.VI)
                            @Html.ValidationMessageFor(model => model.VI, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.VII, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.VII)
                            @Html.ValidationMessageFor(model => model.VII, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.VIII, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.VIII)
                            @Html.ValidationMessageFor(model => model.VIII, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IX, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IX)
                            @Html.ValidationMessageFor(model => model.IX, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.X, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.X)
                            @Html.ValidationMessageFor(model => model.X, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.XI, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.XI)
                            @Html.ValidationMessageFor(model => model.XI, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.XII, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.XII)
                            @Html.ValidationMessageFor(model => model.XII, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Tydzień miesiąca</h3>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Week1, "1 tydzień", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Week1)
                        @Html.ValidationMessageFor(model => model.Week1, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Week2, "2 tydzień", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Week2)
                        @Html.ValidationMessageFor(model => model.Week2, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Week3, "3 tydzień", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Week3)
                        @Html.ValidationMessageFor(model => model.Week3, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Week4, "4 tydzień", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Week4)
                        @Html.ValidationMessageFor(model => model.Week4, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Week5, "5 tydzień", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Week5)
                        @Html.ValidationMessageFor(model => model.Week5, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.WeekLast, "Ostatni tydzień", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.WeekLast)
                        @Html.ValidationMessageFor(model => model.WeekLast, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Powtarzanie</h3>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.RepeatDateFirst, "Od daty", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RepeatDateFirst, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RepeatDateFirst, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.RepeatEveryDays, "Co ile dni", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RepeatEveryDays, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RepeatEveryDays, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.RepeatEveryDayInMonth, "Dzień miesiąca", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RepeatEveryDayInMonth, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RepeatEveryDayInMonth, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.RepeatType, "(RODZAJ POWTARZANIA)", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RepeatType, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RepeatType, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CycleId, "Święto/okres", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CycleId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CycleId, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.MassType, "Rodzaj mszy", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MassType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MassType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script type="text/javascript">
        $('.datetimepicker').datetimepicker({
            format: "YYYY.MM.DD",
            stepping: 30,
            useCurrent: true,
            locale: "PL",
            calendarWeeks: true,
            showTodayButton: true,
            showClose: true,
            showClear: true,
        });
        $('.timepicker').datetimepicker({
            format: 'HH:mm',
            locale: "PL",
            showClose: true,
            showClear: true,
        });
    </script>
}
