@model WebApplication1.Rule

@using WebApplication1.Helpers

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Reguła - szczegóły</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kościół
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Church.Name)
        </dd>

        <dt>
            Komentarz
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            Rodzaj reguły
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CycleType)
        </dd>

        @if (Model.CycleType == MassHelper.CYCLE_TYPE_HOLIDAY)
        {
        <dt>
            Święto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Holiday.Name)
        </dd>
        }

        @if (Model.CycleType == MassHelper.CYCLE_TYPE_CYCLE)
        {
        <dt>
            Okres
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cycle.Name)
        </dd>
        }

        <dt>
            Data początkowa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateBegin)
        </dd>

        <dt>
            Data końcowa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>

        <dt>
            Godzina
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hour)
        </dd>

        <dt>
            Rodzaj mszy
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MassType)
        </dd>


        @if (Model.CycleType == MassHelper.CYCLE_TYPE_CYCLE || Model.CycleType == MassHelper.CYCLE_TYPE_MONTH)
        {
        <dt>
            Poniedziałek
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Monday)
        </dd>

        <dt>
            Wtorek
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tuesday)
        </dd>

        <dt>
            Środa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wednesday)
        </dd>

        <dt>
            Czwartek
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Thursday)
        </dd>

        <dt>
            Piątek
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Friday)
        </dd>

        <dt>
            Sobota
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saturday)
        </dd>
        <dt>
            Niedziela
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sunday)
        </dd>
        }

        @if (Model.CycleType == MassHelper.CYCLE_TYPE_MONTH)
        {
        <dt>
            @Html.DisplayNameFor(model => model.I)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.I)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.II)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.II)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.III)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.III)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.V)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.V)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VII)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VII)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIII)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIII)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.X)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.X)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XII)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XII)
        </dd>
        }


        @if (Model.CycleType == MassHelper.CYCLE_TYPE_CYCLE || Model.CycleType == MassHelper.CYCLE_TYPE_MONTH)
        {
        <dt>
            1 Tydzień
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week1)
        </dd>

        <dt>
            2 Tydzień
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week2)
        </dd>

        <dt>
            3 Tydzień
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week3)
        </dd>

        <dt>
            4 Tydzień
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week4)
        </dd>

        <dt>
            5 Tydzień
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week5)
        </dd>

        <dt>
            Ostatni Tydzień
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WeekLast)
        </dd>
        }

        <dt>
            Przesunięcie
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateShift)
        </dd>
        
        @if (Model.CycleType == MassHelper.CYCLE_TYPE_REPEAT_DAYS || Model.CycleType == MassHelper.CYCLE_TYPE_REPEAT_DAY_IN_MONTH)
        {
        <dt>
            Powtarzaj
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Repeat)
        </dd>
        }


    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Usuń", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Wróć do listy", "Index", new { id = Model.ChurchId })
</p>
