@model IEnumerable<WebApplication1.Rule>

@using WebApplication1.Helpers

@{
    ViewBag.Title = "Reguły";
}

<h2>Lista reguł</h2>

<p>
    @Html.ActionLink("Wszystkie kościoły", "Index", new { id = string.Empty }) |
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            Kościół
        </th>
        <th>
            Komentarz
        </th>
        <th>
            Rodzaj reguły
        </th>
        <th>
            Okres
        </th>
        <th>
            Święto
        </th>
        <th>
            Data (początkowa)
        </th>
        <th>
            Data końcowa
        </th>
        <th>
            Godzina
        </th>
        <th>
            Pn
        </th>
        <th>
            Wt
        </th>
        <th>
            Śr
        </th>
        <th>
            Cz
        </th>
        <th>
            Pt
        </th>
        <th>
            Sb
        </th>
        <th>
            Nd
        </th>

        <th></th>

        <th>
            @Html.DisplayNameFor(model => model.I)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.II)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.III)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.V)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VII)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIII)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.X)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XII)
        </th>

        <th></th>

        <th>
            T1
        </th>
        <th>
            T2
        </th>
        <th>
            T3
        </th>
        <th>
            T4
        </th>
        <th>
            T5
        </th>
        <th>
            TO
        </th>
        <th>
            Przesunięcie
        </th>
        <th>
            Powtarzaj
        </th>
        <th>
            Rodzaj mszy
        </th>
        
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Pokaż", "Details", new { id = item.Id }) 
            @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) 
            @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Church.Name)
        </td>
        <td>
            @Html.DisplayFor(model => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CycleType)
        </td>
        <td>
            @if (item.CycleType == MassHelper.CYCLE_TYPE_CYCLE) { @Html.DisplayFor(modelItem => item.Cycle.Name); }
        </td>
        <td>
            @if (item.CycleType == MassHelper.CYCLE_TYPE_HOLIDAY) { @Html.DisplayFor(modelItem => item.Holiday.Name); }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateBegin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hour)
        </td>


        @if (item.CycleType == MassHelper.CYCLE_TYPE_CYCLE || item.CycleType == MassHelper.CYCLE_TYPE_MONTH)
        {
        <td>
            @Html.DisplayFor(modelItem => item.Monday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tuesday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wednesday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thursday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Friday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Saturday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sunday)
        </td>
        } else { <td></td><td></td><td></td><td></td><td></td><td></td><td></td> }

        <td></td>

        @if (item.CycleType == MassHelper.CYCLE_TYPE_MONTH)
        {
        <td>
            @Html.DisplayFor(modelItem => item.I)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.II)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.III)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.V)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VII)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIII)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.X)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XII)
        </td>
        } else {  <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td> }

        <td></td>


        @if (item.CycleType == MassHelper.CYCLE_TYPE_CYCLE || item.CycleType == MassHelper.CYCLE_TYPE_MONTH)
        {
        <td>
            @Html.DisplayFor(modelItem => item.Week1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Week2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Week3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Week4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Week5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeekLast)
        </td>
        } else { <td></td><td></td><td></td><td></td><td></td><td></td> }

        <td>
            @Html.DisplayFor(modelItem => item.DateShift)
        </td>
        <td>
            @if (item.CycleType == MassHelper.CYCLE_TYPE_REPEAT_DAYS || item.CycleType == MassHelper.CYCLE_TYPE_REPEAT_DAY_IN_MONTH)
            { 
                @Html.DisplayFor(modelItem => item.Repeat);
            }
            @Html.DisplayFor(modelItem => item.Repeat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MassType)
        </td>
        
    </tr>
}

</table>
