@model IEnumerable<WebApplication1.Church>

@{
    ViewBag.Title = "Lista kościołów";
}

<h2>Lista kościołów</h2>

<p>
    @Html.ActionLink("Utwórz nowy", "Create")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="text" name="search" id="search"/>
            <input type="submit" value="Szukaj" class="btn btn-default" />
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            Wezwanie
        </th>
        <th>
            Adres
        </th>
        <th>
            Dekanat
        </th>
        <th>
            Diecezja
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Decanate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diocese)
        </td>
        <td>
            @Html.ActionLink("Reguły", "Index", "Rules", new { id = item.Id }, null) |
            @Html.ActionLink("Dodaj regułę", "Create", "Rules", new { id = item.Id }, null) |
            @Html.ActionLink("Właściwości", "Details", new { id=item.Id }) |
            @Html.ActionLink("Edytuj", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Kalendarz", "Calendar", "Calendar", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>
