@model IEnumerable<WebApplication1.Mass>

@{
    ViewBag.Title = "Msze";
}

<h2>Lista mszy</h2>

<p>
    @Html.ActionLink("Kalendarz", "Calendar", "Calendar") |
    @Html.ActionLink("Generuj", "Create") |
    @Html.ActionLink("Usuń wszystkie", "Delete")
</p>
<table class="table">
    <tr>
        <th>
            Reguła
        </th>
        <th>
            Data i godzina
        </th>
        <th>
            Rodzaj mszy
        </th>
        <th>
            Kościół
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.RuleId.ToString(), "Details", "Rules", new { id = item.RuleId }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rule.MassType)
        </td>
        <td>
            @Html.ActionLink(item.Church.Name, "Details", "Churches", new { id = item.ChurchId }, null)
        </td>
    </tr>
}

</table>
